@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* background-image: url('/gradient-bg/gradient-bg-img.webp'); */
ul li { list-style-type: disc; }
ol li {list-style: decimal;}
iframe#webpack-dev-server-client-overlay{display:none!important}
