/* styles.css */

/* Underline on Hover */
.underlineonhover {
  position: relative;
  display: block; 
  margin-bottom: 10px; /* Adjust as needed */
  padding-bottom: 10px; /* Adjust as needed */
  text-decoration: none; /* Remove default underline */
}

.underlineonhover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px; /* Adjust thickness of underline */
  background-color: #defcfc; /* Color of the underline */
  transform-origin: bottom left;
  transform: scaleX(0); /* Initially no width */
  transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}

.underlineonhover:hover::after {
  transform: scaleX(1); /* Full width on hover */
}

.socialicon {
  font-size: 28px;
  color: #d9dee4;
  transition: transform 0.3s, color 0.3s;
}

.socialicon:hover {
  transform: scale(1.25);
  color: #ffffff;
}

.footer-main{
  border-radius: 40px 40px 0px 0px ;
}